/* Jquery-ui tabs */
.ui-tabs-vertical { 
  width: 47em; 
}
.ui-tabs-vertical .ui-tabs-nav { 
  padding: .2em .1em .2em .2em; 
  float: left; 
  width: 12em; 
}
.ui-tabs-vertical .ui-tabs-nav li { 
  clear: left;
  width: 100%; 
  border-bottom-width: 1px !important; 
  border-right-width: 0 !important; 
  margin: 0 -1px .2em 0; 
}
.ui-tabs-vertical .ui-tabs-nav li a { 
  display:block; 
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
  padding-bottom: 0; 
  padding-right: .1em; 
  border-right-width: 1px; 
}
.ui-tabs-vertical .ui-tabs-panel { 
  padding: 1em; 
  float: right;
  width: 30em;
}

/* END Jquery-ui tabs */

.bordered {
  border: 2px solid #000;
}

.flex {
  display: flex;
  margin-top: 5px;
}

.flex-column {
  display:flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center!important;
}

.space-between {
  justify-content: space-between;
}

.button-tab {
  border: 4px solid #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: rgb(238, 237, 237);
  border-radius: 8px;
  margin: 8px;
  cursor: pointer;
  width: 150px;
  padding: 12px 0;
  word-wrap: break-word;
  font-size: 20px;
  color: #000;
}

.button-tab:hover {
  background: rgb(127, 146, 199);
}

.button-tab .selected {
  background: rgb(127, 146, 199);
}

#header  p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

#header  p span {
  font-weight: 300;
}

#header .flex div {
  margin-left: 20px;
}

#left {
  margin-right: 5px;
  width: 180px;
}

#left .end {
  margin-top: 100px;
}

#right {
  width: -webkit-fill-available;
  word-wrap: break-word;
  background-color: rgb(199, 199, 199);
}

.tab-page {
  display: none;
}

.tab-initial {
  display: block;
}

.camera_container {
  width: 400px;
  height: 300px;
}

.camera {
  width: inherit;
  height: inherit;
}

.camera_opt {
  margin-left: 8px;
}

input, select  {
  padding: 8px;
  font-size: 14px;
}

#audiencia_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 11px;
}

#audiencia_table td, #audiencia_table th {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
}

#audiencia_table tr:nth-child(even){background-color: #fff;}
#audiencia_table tr:nth-child(odd){background-color: #fffed18a;}

#audiencia_table tr:hover {background-color: #fffd8252;}

#audiencia_table th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#btn_logar {
  padding: 10px 50px;
  cursor: pointer;
}